/* 
    Created on : Feb 11, 2016, 4:52:49 PM
    Author     : emmakordik
*/

h2{
    font-size: 26px;
    margin-bottom: 20px;
}

tr .time{
    width: 27%;
}

.day{
    display:none;
}

.calendar{
    display:none;
}